.container{
    display:grid;
    height:100vh;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
    "nav nav nav nav"
    "content1 main main main"
    "content1 content2 content3 content4"
    "content1 footer footer footer";
}
nav{
    background-color: aqua;
    grid-area:nav;

}
main{
    background-color: antiquewhite;
    grid-area:main;
}
.content1{
    background-color: aquamarine;
    grid-area:content1;
}
.content2{
    background-color: rgb(177, 111, 30);
    grid-area:content2;
}
.content3{
    background-color:rgb(140, 120, 40);
    grid-area:"content3";
}
.content4{
    background-color: darkgreen;
    grid-area:content3;
}
footer{
    background-color:rgb(130, 183, 30);
    grid-area:footer;
}
@media only screen and (max-width:500px){
    .container{
        grid-template-columns:1fr;
        grid-template-rows:0.4fr 1.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
        grid-template-areas:
        "nav"
        "content1"
        "main"
        "content2"
        "content3"
        "content4"
        "footer";
    }
}
