:root{
    --main-radius:5px;
    --main-padding:10px;
}
.container{
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1.5fr 1.5fr;
    grid-template-areas:
    "content1 content2 content2 content3"
    "content1 content4 content5 content6"
    "content1 content7 content8 content6";
    gap: 0.5rem;
    text-transform: uppercase;
    text-align: center;
}
.content1{
    background-color:aqua;
    grid-area:content1;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content2{
    background-color:aquamarine;
    grid-area:content2;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content3{
    background-color:green;
    grid-area:content3;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content4{
    background-color:yellow;
    grid-area:content4;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content5{
    background-color:orange;
    grid-area:content5;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content6{
    background-color:grey;
    grid-area:content6;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content7{
    background-color:bisque;
    grid-area:content7;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}
.content8{
    background-color:chartreuse;
    grid-area:content8;
    border-radius: var(--main-radius) ;
    border-top:var(--main-padding);
}

@media only screen and (max-width:550px){
    .container{
        max-width:100vw;
        /* max-height:100%; */
        grid-template-columns:1fr;
        grid-template-rows:1fr 1.5fr 0.8fr 0.5fr 0.5fr 0.8fr 0.5fr 0.5fr 0.5fr;
        grid-template-areas:
        "content1"
        "content2"
        "content3"
        "content4"
        "content5"
        "content6"
        "content7"
        "content8"
        ;
    }
}